/* General styling */
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
}

/* Header styling */
header {
  margin-bottom: 20px;
}

/* Main content styling */
.container-fluid {
  max-width: auto;
  margin: auto;
  border: 2px solid #fff; /* White border */
  border-radius: 15px;
  overflow: hidden;
}

/* Textarea styling */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000;
  border-left: 1px solid #fff; /* White left border */
  padding: 10px;
  width: 100%;
}

/* Time block styling */
.time-block {
  border-radius: 15px;
  border: 1px solid #fff; /* White bordeer */
  margin-bottom: 10px;
}

/* Row styling */
.row {
  border-top: 1px solid #fff; /* White top border */
}

.hour {
  background-color: #000;
  color: #fff;
  border-top: 1px dashed #fff; /* White dashed top border */
  flex: 1;
}

/* Past time block */
.past {
  background-color: #555;
}

/* Present time block */
.present {
  background-color: #ff6961;
}

/* Future time block */
.future {
  background-color: #77dd77;
}
/* Save button styling */
.saveBtn {
  border-left: 1px solid #fff;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: #fff;
}

/* Save button icon on hover styling */
.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out; /* Smooth transiton */
}

/* Spaces out the 5pm box and the copyright */
.spacer {
  height: 50px;
}

/* Footer styling */
footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Paragraph inside footer styling */
footer p {
  margin: 0px;
}

/* Current year styling */
.current-year {
  font-weight: bold;
}